

body {
  background: #333 url('/img/bg1.jpg');
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper .fa-bars {
  font-size: 25px;
}

footer {
  margin-top: 20px;
}

.input-field label {
  pointer-events: auto !important;
}