<div class="jumbotron ml-auto welcome-text">
  <h1>Welcome</h1>
  <h5>Welcome to StoriesBook 1.0.0</h5>
  <h5>Post stories from the best and worst of your life and choose for them to be read by the world or completely private
    as your own personal diary</h5>

  <a href="/auth/google" class="btn btn-danger red"><i class="fa fa-google left"></i> Login with Google</a>
</div>

