<div class="jumbotron ml-auto">
  <h1>Welcome</h1>
  <p>Welcome to StoriesBook 1.0.0</p>
  <p>Post stories from the best and worst of your life and choode for them to be read by the world or completely private
    as your own persomal diary</p>

  <a href="/auth/google" class="btn btn-danger"><i class="fa fa-google left"></i> Login with Google</a>
</div>

